@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: ui-sans-serif, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.grid-overlay {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-size: 50px 50px;
}

.scanlines {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  background-size: 100% 2px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}